In [25]:
import re
def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)

text="<p>Python is victory</p> and <html>Python is happiness</html>"
remove_html_tags(text)

'Python is victory and Python is happiness'

In [29]:
import pandas as pd
import numpy as np
df=pd.read_csv('student-dataset.csv')
df

,id,name,nationality,city,latitude,longitude,gender,ethnic.group,age,english.grade,math.grade,sciences.grade,language.grade,portfolio.rating,coverletter.rating,refletter.rating
0,0,Kiana Lor,China,Suzhou,31.31,120.62,F,NaN,22,3.5,3.7,3.1,1.0,4,4.0,4
1,1,Joshua Lonaker,United States of America,Santa Clarita,34.39,-118.54,M,NaN,22,2.9,3.2,3.6,5.0,5,4.0,5
2,2,Dakota Blanco,United States of America,Oakland,37.80,-122.27,F,NaN,22,3.9,3.8,3.2,5.0,3,3.0,4
3,3,Natasha Yarusso,United States of America,Castro Valley,37.69,-122.09,F,NaN,20,3.3,2.8,3.2,5.0,5,2.0,4
4,4,Brooke Cazares,Brazil,São José dos Campos,-23.18,-45.88,F,NaN,21,3.7,2.6,3.4,1.0,4,4.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,302,Austin Haas,United States of America,Columbus,39.96,-83.00,M,NaN,20,3.6,3.7,3.1,5.0,4,5.0,5
303,303,Madison Fithian,United States of America,Los Angeles,34.05,-118.24,F,NaN,20,3.6,3.9,4.0,5.0,5,5.0,3
304,304,Zachary Mulvahill,United States of America,Los Angeles,34.05,-118.24,M,NaN,20,3.2,3.4,3.9,5.0,5,5.0,3
305,305,Eliana Michelsen,United States of America,Oakland,37.80,-122.27,F,NaN,23,3.0,2.8,2.9,5.0,4,4.0,5
306,306,Dane Whittemore,Canada,Toronto,43.67,-79.42,M,NaN,21,3.8,3.2,4.0,5.0,5,4.0,5

In [33]:
import pandas as pd

# Load the Excel file
file_path = r'D:\100 Days of Python\Book1.xlsx'
df = pd.read_excel(file_path)

# Display the data
print(df)

                                 From: <Saved by Blink>  \
0     Snapshot-Content-Location: https://www.kaggle....
1                             Subject: student-data.csv
2                                             Date: Sun
3                                     MIME-Version: 1.0
4                      Content-Type: multipart/related;
...                                                 ...
1628                                                  }
1629                                                NaN
1630  .fZXYRD { display: flex; flex-direction: row; ...
1631                                                NaN
1632  .cCa-Dtz { white-space: nowrap; overflow: hidd...

                       Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0                             NaN        NaN        NaN        NaN        NaN
1                             NaN        NaN        NaN        NaN        NaN
2      22 Sep 2024 13:07:00 +0530        NaN        NaN        NaN        NaN
3                             NaN        NaN        NaN        NaN        NaN
4                             NaN        NaN        NaN        NaN        NaN
...                           ...        ...        ...        ...        ...
1628                          NaN        NaN        NaN        NaN        NaN
1629                          NaN        NaN        NaN        NaN        NaN
1630                          NaN        NaN        NaN        NaN        NaN
1631                          NaN        NaN        NaN        NaN        NaN
1632                          NaN        NaN        NaN        NaN        NaN

     Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 82 Unnamed: 83  \
0           NaN        NaN        NaN        NaN  ...         NaN         NaN
1           NaN        NaN        NaN        NaN  ...         NaN         NaN
2           NaN        NaN        NaN        NaN  ...         NaN         NaN
3           NaN        NaN        NaN        NaN  ...         NaN         NaN
4           NaN        NaN        NaN        NaN  ...         NaN         NaN
...         ...        ...        ...        ...  ...         ...         ...
1628        NaN        NaN        NaN        NaN  ...         NaN         NaN
1629        NaN        NaN        NaN        NaN  ...         NaN         NaN
1630        NaN        NaN        NaN        NaN  ...         NaN         NaN
1631        NaN        NaN        NaN        NaN  ...         NaN         NaN
1632        NaN        NaN        NaN        NaN  ...         NaN         NaN

     Unnamed: 84 Unnamed: 85 Unnamed: 86 Unnamed: 87 Unnamed: 88 Unnamed: 89  \
0            NaN         NaN         NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN         NaN         NaN
...          ...         ...         ...         ...         ...         ...
1628         NaN         NaN         NaN         NaN         NaN         NaN
1629         NaN         NaN         NaN         NaN         NaN         NaN
1630         NaN         NaN         NaN         NaN         NaN         NaN
1631         NaN         NaN         NaN         NaN         NaN         NaN
1632         NaN         NaN         NaN         NaN         NaN         NaN

     Unnamed: 90 Unnamed: 91
0            NaN         NaN
1            NaN         NaN
2            NaN         NaN
3            NaN         NaN
4            NaN         NaN
...          ...         ...
1628         NaN         NaN
1629         NaN         NaN
1630         NaN         NaN
1631         NaN         NaN
1632         NaN         NaN

[1633 rows x 92 columns]

In [35]:
import pandas as pd

# Path to your Excel file
file_path = r'D:\100 Days of Python\product_sentiment.xlsx'

# Load the Excel
dp = pd.read_excel(file_path)

# Display the data
print(dp)

    sl no.                                             review Sentiments
0        1  <h1>the  product was very nicely presented<h1>...        yes
1        2  <!DOCTYPE html><html lang="en"><head><meta htt...         no
2        3                    <title>student-data.csv</title>        yes
3        4    <meta name="description" content="Kaggle is ...         no
4        5    <link rel="preconnect" href="https://www.goo...         no
5        6  <link href="https://www.kaggle.com/static/imag...        yes
6        7   <link rel="manifest" href="https://www.kaggle...         no
7        8  <h1>the  product was very nicely presented<h1>...        yes
8        9   <link href="https://fonts.googleapis.com/css?...         no
9       10    <link href="https://fonts.googleapis.com/css...        yes
10      11  <link rel="stylesheet" type="text/css" href="h...         no
11      12    <link rel="stylesheet" type="text/css" href=...        yes
12      13  <link rel="stylesheet" type="text/css" href="h...        yes
13      14             <body style="background-color: rgb(255        yes
14      15  <iframe ng-non-bindable="" frameborder="0" hsp...        yes
15      16  Content-Location: cid:css-e7ea452d-6bc8-43f0-b...         no
16      17  <link rel="stylesheet" type="text/css" href="h...        yes
17      18             <body style="background-color: rgb(255        yes
18      19                                             <main>         no
19      20  <div id="site-container"><div class="" style="...        yes

In [49]:
import re
def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)
dp['review'].apply(remove_html_tags)

0     the  product was very nicely presentedDaikin 0...
1
2                                      student-data.csv
3
4
5
6
7     the  product was very nicely presentedDaikin 0...
8      <link href="https://fonts.googleapis.com/css?...
9
10
11
12    <link id="load-css-0" rel="stylesheet" type="t...
13               <body style="background-color: rgb(255
14
15    Content-Location: cid:css-e7ea452d-6bc8-43f0-b...
16
17               <body style="background-color: rgb(255
18
19    <div class="" style="height: inherit; --mdc-th...
Name: review, dtype: object

In [51]:
import pandas as pd

# Path to your Excel file
file_path = r'D:\100 Days of Python\product_sentiment2.xlsx'

# Load the Excel
dp = pd.read_excel(file_path)

# Display the data
print(dp)

    sl no.                                             review Sentiments
0        1  <h1>the  product was very nicely presented<h1>...        yes
1        2  <!DOCTYPE html><html lang="en"><head><meta htt...         no
2        3                    <title>student-data.csv</title>        yes
3        4    <meta name="description"> content="Kaggle is...         no
4        5  >  <link rel="preconnect" >href="https://www.g...         no
5        6  <link> href="https://www.kaggle.com/static/ima...        yes
6        7   <link rel="manifest" >href="https://www.kaggl...         no
7        8  <h1>the  product was very nicely presented<h1>...        yes
8        9   <link href="https://fonts.googleapis.com/css?...         no
9       10    <link> href="https://fonts.googleapis.com/cs...        yes
10      11  <link> rel="stylesheet" type="text/css" href="...         no
11      12    link rel="stylesheet" type="text/css" href="...        yes
12      13  <link rel="stylesheet"> type="text/css" href="...        yes
13      14              body style="background-color: rgb(255        yes
14      15  iframe ng-non-bindable="" frameborder="0" hspa...        yes
15      16  Content-Location: cid:css-e7ea452d-6bc8-43f0-b...         no
16      17  <link rel="stylesheet"> type="text/css" href="...        yes
17      18              body style="background-color: rgb(255        yes
18      19                                    <main>nishu<br>         no
19      20  div id="site-container"<div class="" style="he...        yes

In [53]:
import re
def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'',text)
dp['review'].apply(remove_html_tags)

0     the  product was very nicely presentedDaikin 0...
1     link rel="stylesheet" type="text/css" href="ci...
2                                      student-data.csv
3        content="Kaggle is the worldâ€™s largest da...
4     >  href="https://www.google-analytics.com/" cr...
5      href="https://www.kaggle.com/static/images/fa...
6      href="https://www.kaggle.com/static/json/mani...
7     the  product was very nicely presentedDaikin 0...
8                                      family=Inter:400
9        href="https://fonts.googleapis.com/css2?fam...
10     rel="stylesheet" type="text/css" href="https:...
11      link rel="stylesheet" type="text/css" href="...
12     type="text/css" href="https://www.kaggle.com/...
13                body style="background-color: rgb(255
14    iframe ng-non-bindable="" frameborder="0" hspa...
15    Content-Location: cid:css-e7ea452d-6bc8-43f0-b...
16     type="text/css" href="https://www.kaggle.com/...
17                body style="background-color: rgb(255
18                                                nishu
19    div id="site-container" inherit; --mdc-theme-o...
Name: review, dtype: object

In [59]:
dp['review']=dp['review'].apply(remove_html_tags)
dp['review'][0]

'the  product was very nicely presentedDaikin 0.8 Ton 3 Star, Fixed Speed Split AC (Copper, PM 2.5 Filter, 2022 Model, FTL28U, White'

In [63]:
text1='check out my notebook https://www.nishu.com/phiscwallah/notebook67678ahhv'
text2='check out my notebook http://www.nishu.com/phiscwallah/notebook67678ahhv'
text3='google search here www.google.com'
text4='for notebook click https://www.nishu.com/phiscwallah/notebook67678ahhv nishukumarjgytf98756i.com'
def remove_url(text):
    pattern=re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)
remove_url(text1)

'check out my notebook '

REMOVING PUNCTUATION MARK

In [65]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [75]:
exclude=string.punctuation
def remove_punc(text):
    for char in exclude:
        text=text.replace(char,'')
    return text
text="String with &5* punctuation?"
remove_punc(text)

'String with 5 punctuation'

In [83]:
start=time.time()
print(remove_punc(text))
time1=time.time()-start
print(time1)

String with 5 punctuation
0.0

In [87]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))
remove_punc1(text2)

'check out my notebook httpwwwnishucomphiscwallahnotebook67678ahhv'

In [97]:
start=time.time()
remove_punc1(text)
time2=time.time()-start
print(time2)

0.0

In [99]:
dp['review'].apply(remove_punc)

0     the  product was very nicely presentedDaikin 0...
1     link relstylesheet typetextcss hrefcidcsse7ea4...
2                                        studentdatacsv
3        contentKaggle is the worldâ€™s largest data...
4       hrefhttpswwwgoogleanalyticscom crossoriginan...
5      hrefhttpswwwkagglecomstaticimagesfaviconico r...
6      hrefhttpswwwkagglecomstaticjsonmanifestjson c...
7     the  product was very nicely presentedDaikin 0...
8                                        familyInter400
9        hrefhttpsfontsgoogleapiscomcss2familyGoogle...
10     relstylesheet typetextcss hrefhttpswwwkagglec...
11      link relstylesheet typetextcss hrefhttpswwwk...
12     typetextcss hrefhttpswwwkagglecomstaticassets...
13                     body stylebackgroundcolor rgb255
14    iframe ngnonbindable frameborder0 hspace0 marg...
15    ContentLocation cidcsse7ea452d6bc843f0becfb21b...
16     typetextcss hrefhttpswwwkagglecomstaticassets...
17                     body stylebackgroundcolor rgb255
18                                                nishu
19    div idsitecontainer inherit mdcthemeonprimary ...
Name: review, dtype: object

CHAT WORD TREATMENT

In [147]:
chat_words={'AFK':'Away From Keyboard'
,'ASAP':'As Soon As Possible'
,'ATK':'At The Keyboard'
,'ATM':'At The Moment'
,'A3':'Anytime, Anywhere Anyplace'
,'BAK':'Back At Keyboard'
,'BBL':'Be Back Later'
,'BBS':'Be Back Soon'
,'BFN':'Bye For Now'
,'B4N':'Bye For Now'
}

In [159]:
def chat_conversion(text):
    new_text=[]
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return  " ".join(new_text)
chat_conversion("come ASAP")

'come As Soon As Possible'

In [155]:
txt="nishu kumari"
txt.split()

['nishu', 'kumari']

In [161]:
chat_conversion("COME ASAP")

'COME As Soon As Possible'

SPELLING CORRECTION

In [173]:
from textblob import TextBlob

ModuleNotFoundError: No module named 'textblob'

In [169]:
from textblob import TextBlob
incorrect_sen="coffe is veeryy niceee in tast"
testblb=TextBlob(incorrect_sen)
#testblb.correct().string

ModuleNotFoundError: No module named 'textblob'